{# src/Louvre/TicketBundle/Resources/views/Ticket/order_create.html.twig #}
{% extends "::layout.html.twig" %}

{% block title %}
    Billetterie - {{ parent() }}
{% endblock %}


{% block body %}
    <h1>Etape 1 - Date et nombre d'entrée(s)</h1>

    {% for type, messages in app.session.flashbag.all %}
        {% for message in messages %}
            {%if type == 'error'%} {% set type = 'danger' %} {%endif%}
            <div class="alert alert-{{ type }}">
                {{ message|raw }}
            </div>
        {% endfor %}
    {% endfor %}


<div class="well">

        {{ form(form) }}

</div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/louvreticket/js/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/louvreticket/js/jquery-ui/jquery.ui.datepicker-fr.js') }}"></script>
    <script src="{{ asset('bundles/louvreticket/js/jtsage-datebox.min.js') }}" type="text/javascript"></script>
    <script src="http://cdn.jtsage.com/jtsage-datebox/i18n/jtsage-datebox.i18n.fr.utf8.min.js" type="text/javascript" ></script>
    <script src="{{ asset('bundles/louvreticket/js/informations.js') }}"></script>
{% endblock %}

